<nav class="d-flex justify-content-end navbar navbar-expand-md py-3 navbar-dark bg-primary">
  <div class="d-flex justify-content-end">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary" routerLink="/">
                Home <span class="caret"></span>
        </button>
        </div>

        <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle routerLink="/prime_factorization" type="button" class="btn btn-primary">
                Prime factorization <span class="caret"></span>
        </button>
        </div>

        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
                  Documentation <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" routerLink="/angular_documentation">About Angular</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/prime_factorization_documentation">About prime factorization</a></li>
          </ul>
        </div>

    </ul>
  </div>
</nav>